{%extends 'base.html'%}
{%import 'partials/img.html' as img%}


{%block custom_meta%}
<meta content="{{keywords|join(',')}}" name="keywords" />

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<meta content="{{shareText}}" name="description" />
<title>{{pageTitle}}</title>
<meta property="og:url" content="{{url}}" />
<meta property="og:title" content="{{shareTitle}}"/>
<meta property="og:description" content="{{shareText}}" name="description"/>
<meta property="og:image" content="{{imgURL}}"/>
<meta property="og:image:height" content="{{imgHeight}}"/>
<meta property="og:image:width" content="{{imgWidth}}"/>
<meta property="og:type" content="article" />
<meta property="article:author" content="{{authorFBProfile}}" />
<meta property="article:publisher" content="https://www.facebook.com/dallasmorningnews/" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{sectionTwitter}}" />
<meta name="twitter:creator" content="@{{authorTwitter}}" />

<meta name="liveFyreID" content="{{id}}" />

<script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "{{shareTitle}}",
        "url": "{{url}}",
        "thumbnailUrl": "{{imgURL}}",
        "dateCreated": "{{publishDate}}",
        "articleSection": "{{section}}",
        "creator": ["{{authors|join('","')|safe}}"],
        "keywords": ["{{keywords|join('","')|safe}}"]
      }
</script>

<meta property="og:keywords" content="{{keywords|join(',')}}"/>

<meta name="news_keywords" content="{{keywords|join(',')}}"/>
{%endblock%}


{%block custom_head%}
<link rel="canonical" href="{{url}}" />
{%endblock%}


{%block ad%}
<script type="text/javascript" src="//www.googletagservices.com/tag/js/gpt.js"></script>
<script type="text/javascript">
DFP_networkId = "11222444";
var DFPSlotSizes = window.isMobile ? [[320,50]] : [[728,90],[970,30]];
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
var pbjs = pbjs || {};
pbjs.que = pbjs.que || [];
pbjs.que.push(function() {
  var pageAds = { //   adUnitID: "position"
              dfpAdPositionTop: "Top",
              dfpAdPositionMiddle: "Top2",
              dfpAdPositionBottom: "Top2"
  };

  for(i in pageAds){
      var bidSlot = new Object();
      bidSlot.code = i;
      bidSlot.sizes = DFPSlotSizes;
      bidSlot.bids = window.isMobile ? window.mobileBids[pageAds[i]] : window.desktopBids[pageAds[i]];
      if(typeof bidSlot.bids != "undefined"){
          if(typeof pbjs.addAdUnits != "undefined"){
              pbjs.addAdUnits(bidSlot);
          }
          window.bidSlots[i] = bidSlot;
      }
  }
});
googletag.cmd.push(function () {
  var DFP_sitepage = "DMN/interactives";
  var dfpSizeMapping = googletag.sizeMapping().
          addSize([992, 480], [[728,90],[970,30]]).
          addSize([0, 0], [[320,50]]).
          build();


  var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop")
                  .defineSizeMapping(dfpSizeMapping)
                  .setTargeting("position", "Top")
                  .addService(googletag.pubads());


  var adSlot1 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionMiddle")
                  .defineSizeMapping(dfpSizeMapping)
                  .setTargeting("position", "Top2")
                  .addService(googletag.pubads());


  /*
  var adSlot2 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionBottom")
                  .defineSizeMapping(dfpSizeMapping)
                  .setTargeting("position", "Top2")
                  .addService(googletag.pubads());
  */

  googletag.pubads().enableAsyncRendering();
  googletag.pubads().enableSingleRequest();
  googletag.enableServices();

});
</script>
{%endblock%}


{%block content%}
<section id="content-header">
	{{img.jpg('prospects-hero', 'Illustration of Rangers prospects Julio Pablo Martinez, Bubba Thompson and Joe Palumbo')}}
</section>
<!-- end contentHeader -->

<section class="content-well clearfix">

	<header id="story-head">
		<h3>Rangers Farm System</h3>
		<h1>Tracking the rebuild</h1>
		<h2>The Texas Rangers are rebuilding in earnest. A look at the next wave of talent that the club hopes will lead it back to glory.</h2>
	</header>
		<!-- end storyHead -->

    <div class="byline-block">
        <p>By <a target="_blank" href="https://sportsday.dallasnews.com/author/evan-grant">Evan Grant</a> | Staff Writer</p>
        <p>Published April 6, 2019</p>
        <p>Updated <span class="updated"></span></p>
    </div>
    <!-- end bylineBlock -->

	<div class="shareComments shareCommentsTop">
		<ul id="share-bar1"></ul>
	</div>
	<!-- end shareComments -->

    <div id="prospect-app">
      <p>The Rangers’ organization topped all of baseball in minor league win percentage in 2019.</p>
      <p>If only that told the whole story.</p>
      <p>It’s not that winning doesn’t matter in the minors. It’s just that it doesn’t matter much. Player development, ultimately, is about individual players. The teams change dramatically over the course of the year based on individual performances (not to mention injuries), so winning becomes secondary to moving players along. Ideally, the best players move together as a group, but that’s just not how it works.</p>
      <p>So, take the .567 winning percentage with a grain of salt. Consider that Baseball America, which ranks organizational talent, had the Rangers at No. 27 of 30 organizations in its most recent update. And that was up from 28th. The only teams below them are clubs that you would consider in win-now mode – the Cubs, Mets and Milwaukee. The Rangers are admittedly restocking the farm system. </p>
      <p>There is work to be done. The Rangers appear to be overhauling their player development system but moving first-year director Matt Blood out of the role, dismissing the entire Triple-A staff and Double-A manager Joe Mikulik. And there may be more changes to come.</p>
      <p>It was also a frustrating year on the injury front with multiple season-ending injuries for top-tier pitchers. But there were good stories, too.</p>
      <p>Below are our minor league award winners (not to be confused with the official award winners the Rangers will announce after the season and present in January):</p>
      <p><strong>Player of the Year:</strong> 1B Curtis Terry. If this was for the prospect of the year, it would go to Sam Huff, who may well win the organization’s award. Excluding journeymen Matt Davidson and Patrick Wilso, who both have major league experience, Huff led the organization’s prospects in homers (28). Here, though, he’s the runner up to Terry, a 13th round pick in 2015. Playing at Class A and advanced Class A, as Huff did, Terry had 25 homers and bettered Huff in RBIs (80) and across the board in slash line: .293/.362/.537/.899. Terry is 22, a year older than Huff and maybe a touch old for Class A, but he’s broken through this year.</p>
      <p><strong>Starting Pitcher of the Year:</strong> RHP Jason Bahr. The Rangers essentially bought Bahr, a 5th round pick in 2017, from San Francisco last year, taking on more than $4 million owed to Austin Jackson to get him. In a season split between advanced Class A and Double-A, Bahr went 10-4 with a 2.51 ERA and maintained a strikeout-per-inning average (126 in 122 innings). His WHIP of 1.074 ranked 19th in all of the minors and was second in the system to Class A starter Tim Brennan. Brennan or hot Ricky Vanasco (more on him in the Top 10) would probably be our runnerup.</p>
      <p><strong>Reliever of the Year:</strong> RHP DeMarcus Evans. Evans might have had the best season of any prospect in the organization. The only reason he doesn’t crack our top 10 is because of how relief prospects are generally valued. About to turn 23, Evans, a 25th round pick in 2015, will be placed on the 40-man roster this fall after posting incredibly gaudy stats: a 0.90 ERA in 60 innings split between advanced Class A and Double-A, 100 strikeouts and a .119 opponents batting average. The only thing that kept him from a callup in September might be that he walked 22 in 37 1/3 innings after being promoted to Frisco. The solidly built power arm will almost certainly make his major league debut in 2020.</p>

      {% include "adblock1.html" %}

      {% raw %}
      <div id="prospects">
        <prospect-card v-for="prospect in prospects" :prospect-data="prospect" :key="prospect.rank"></prospect-card>
      </div>
      {% endraw %}

      {% include "adblock2.html" %}
      <p><em>Staff Writer Gerry Fraley contributed the pre-season scouting reports on the Rangers’ top prospects.</em></p>
      <p class="twitter-tag">Follow Evan Grant on Twitter at <a href="https://www.twitter.com/Evan_P_Grant">@Evan_P_Grant.</a></p>

    </div>


    <section class="credits">
        <p>Author: <a href="mailto:egrant@dallasnews.com">Evan Grant</a></p>
        <p>Editor: <a href="mailto:tmagelssen@dallasnews.com">Tommy Magelssen</a></p>
        <p>Photos: <a href="mailto:spool@dallasnews.com">Smiley N. Pool</a></p>
        <p>Design and development: <a href="mailto:jhancock@dallasnews.com">John Hancock</a></p>
    </section>
	<!-- end credits -->

  <section class="more">
    <h5>More from The Dallas Morning News</h5>
    <div class="more__grid">
      <a class="clearfix" href="https://interactives.dallasnews.com/2017/beltre-3000-hits/">
        <img src="images/_beltre-share.jpg" alt="Adrian Beltre">
        <h6>Adrian Beltre’s march to 3,000</h6>
  			<p>The Rangers third baseman is finally part of baseball’s elite club of hitters. See how he got there.</p>
      </a>
      <a class="clearfix" href="https://interactives.dallasnews.com/2019/sportsdaydfws-top-recruits-2020/index.html">
        <img src="images/_recruits.jpg" alt="Duncanville's Ja'Quinden Jackson">
        <h6>SportsDay’s top recruits for 2020</h6>
        <p>Duncanville’s Ja’Quinden Jackson tops our list of the Dallas area’s best high school football recruits.</p>
      </a>
      <a class="clearfix" href="https://interactives.dallasnews.com/2019/every-shot-dirk-ever-took/">
  			<img src="images/_dirk-share.jpg" alt="Dirk Nowitzki" />
  			<h6>Swish 41</h6>
  			<p>21 years. Over 26,000 shots. Tour every dunk, layup, 3-pointer and, of course, fadeaway jumper that make up Dirk Nowitzki’s career.</p>
  		</a>
    </div>
  </section>
	<!-- end more -->


    <div class="shareComments">
        <div id="comments"></div>
	</div>
	<!-- end shareComments -->


</section>
<!-- end contentWell -->
{%endblock%}




{%block custom_foot%}
	<script type="text/javascript"></script>
{%endblock%}





{%block custom_social_meta%}
<script type="text/javascript">
  var storyTitle = "{{tweetText}}", // headline in tweet card
	storyURL = "{{url}}",
	leadText = "{{shareText}}", //description in tweet card
	storyIMG = "{{imgURL}}",
	storyAuthor = "{% for author in authors %}{{author}}{{', ' if not loop.last}}{% endfor %}",
	twitterTag = "{{sectionTwitter}}",
	comments = true,
	share = true;
	OAS_sitepage = 'www.dallasnews.com/{{desk}}/{{section}}/';
</script>
{%endblock%}
